<div class="container">

　<h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h5>Name</h5>
        <%= f.text_field :name, autofocus: true %>
      <h5>Password</h5>
        <%= f.password_field :password, autocomplete: "off" %><br><br>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <b>Remeber me</b><% end %><br><br>
      <button type="submit" class="btn btn-primary btn-lm">Log in</button><br><br>
  <% end %>

      <%= link_to "sign up", new_user_registration_path %><br>
      <%= link_to "Forgot your password?", new_user_password_path %>

</div>