<div id="comment-<%= @book.id %>">
  <%= form_with model:[book, com], remote: true do |f| %>
    <%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメントする ※150文字以内" %>
    <%= f.submit "投稿する", class: "mt-10 pull-right" %>
  <% end %>
    <br><br>

<% if book.book_comments.count>0 %>
  <h5><%= book.book_comments.count %>件のコメント</h5>
<div>
  <i id="comments_comment"></i>
    <% book.book_comments.each do |comment| %>
      <div class="comment-text">
          <div class="comment-author clearfix">
              <%= attachment_image_tag comment.user, :profile_image, :fill, 100, 100,fallback: "no_image.jpg",size:'40x40', radius:'50%' %>　<b><%= comment.user.name %></b>
                <span class="comment-date pull-right"><%= comment.created_at.strftime('%Y-%m-%d %H:%M') %></span>
          <div class="comment-entry">
            <%= comment.comment %>
              <% if comment.user == current_user %>
                <br><%=link_to "削除する", book_book_comment_path(book.id, comment.id), method: :delete, remote: true, "data-confirm" => "削除して宜しいでしょうか？", class:"pull-right" %>
              <% end %>
          </div></div>
        <% end %>
      </div>
  </div>
<% else %>
  <h5>現在、コメントはありません</h5>
<% end %>
</div>